.tableCell {
  padding: 10px;
  width: 200px;
  
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  
}
.tableRow {
  height: 30px;
}
.tableRow:nth-child(2n) {
    background-color: rgb(213, 226, 245);
}